html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}

.cover-header {
  width: 100%;
}

.cover-img {
  height: 250px;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-img {
  border-radius: 50%;
  width: auto;
  height: inherit;
  padding: 5px;
  cursor: pointer;
}

.header-title-sticky {
  font-size: 30px;
  font-weight: bold;
}

.header-title {
  cursor: pointer;
}

.sticky-logo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: antiquewhite;
  height: 50px;
}

.search-header-container {
  flex-grow: 1;
}

.search-header {
  float: right;
}

.search-box {
  display: flex;
  align-items:center;
  margin-top:100px;
}

.search-input-container {
  /*border-color: darkgray;
  border-style:solid;
  border-width: 2px;
  border-radius:5px;*/
  width:80%;
  height:50px;
  display: flex;
  align-items:center;
}

.search-input {
  border-color: darkgray;
  border-style:solid;
  border-width: 2px;
  border-radius:5px;
  flex:1;
  height:inherit;
  font-size:25px;
  padding:10px;
}

.search-btn-container {
  align-self:center;
  flex-grow:1;
  display:flex;
  justify-content:center;
}

.search-btn {
  width:100px;
  height:40px;
}

.top-product-container {
  /* display: flex;
  flex-direction: column;
  align-self: flex-start; */
  width: 100%;
}

.card-img-container {
  display: flex;
  height: 180px;
  justify-content: center;
  background-color: blanchedalmond;
}

.card-img-custom {
  height: inherit;
}

.top-product-title {
  font-size: 25px;
  text-decoration: underline;
  margin-top: 100px;
  margin-left: 50px;
}

.top-product {
  margin-top: 20px;
  /* display: flex;
  justify-content: space-between; */
  margin-left: 50px;
  margin-right: 50px;
}

.view-all {
  margin-right: 50px;
  float: right;
  cursor: pointer;
  color: blue;
}

.product {
  width: 20%;
  float: left;
  padding: 10px;
  cursor: pointer;
}

.product-card {
  background-color: lavender;
}

.product-title {
  font-size: 16px;
  font-weight: 600;
}

.product-desc {
  font-size: 14px;
}

.card-product-body {
  height: 125px;
  padding: 7px;
}

.product-detail-container {
  margin-top: 50px;
}

.product-detail-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 25px;
}

.product-detail-img {
  height: 450px;
  width: auto;
}

.desc-container {
  display: flex;
}

.product-detail-desc-title {
  font-size: 20px;
  font-weight: 600;
}

.product-detail-desc {
  padding-top: 10px;
  padding-right: 50px;
  text-align: justify;
}

.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.admin-container {
  margin-top: 50px;
}

.admin-header {
  display: flex;
  justify-content: flex-end;
}

.menu-btn {
  cursor: pointer;
}

.menu-btn-delim::after {
  content: '';
  margin-left: 10px;
  margin-right: 10px;
  border-right-style: solid;
  border-right-width: 2px;
}

.product-management-container {
  padding-left: 10vw;
  padding-right: 10vw;
}

.product-management-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 20px;
}

/* .product-title-header {
  display: flex;
  width: 80vw;
  background-color: darkgray;
  text-align: center;
} */

.col-id {
  width: 5%;
}

.col-name {
  width: 60%;
}

.col-option {
  width: 35%;
}

.product-table {
  width: 100%;
  border-collapse:collapse;
  color:#000;
}

.product-table td, .product-table th { 
  padding:5px;
  border:1px solid #000; 
}

.product-table th { 
  background-color:darkgray;
}

.product-table td { 
  /* height: 50px; */
}

.option-btn {
  width: 3rem;
  text-align: center;
  background: ghostwhite;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.product-table-header-sticky {
  position: sticky;
  top: 50px;
  z-index: 1;
  background-color: antiquewhite;
}

.add-product-container {
  
}

.add-product-table {
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
  border-collapse: unset;
}

.product-field {
  width: 20%;
}

.product-value {
  width: 80%;
}

.quill-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ql-editor{
  min-height:200px;
}
