html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.search-box {
  display: flex;
  align-items:center;
  margin-top:100px;
}

.search-input-container {
  /*border-color: darkgray;
  border-style:solid;
  border-width: 2px;
  border-radius:5px;*/
  width:80%;
  height:50px;
  display: flex;
  align-items:center;
}

.search-input {
  border-color: darkgray;
  border-style:solid;
  border-width: 2px;
  border-radius:5px;
  flex:1;
  height:inherit;
  font-size:25px;
  padding:10px;
}

.search-btn-container {
  align-self:center;
  flex-grow:1;
  display:flex;
  justify-content:center;
}

.search-btn {
  width:100px;
  height:40px;
}

.top-product-container {
  /* display: flex;
  flex-direction: column;
  align-self: flex-start; */
  width: 100%;
}

.card-img-container {
  display: flex;
  height: 180px;
  justify-content: center;
  background-color: blanchedalmond;
}

.card-img-custom {
  height: inherit;
}

.top-product-title {
  font-size: 25px;
  text-decoration: underline;
}

.top-product {
  margin-top: 20px;
  /* display: flex;
  justify-content: space-between; */
  margin-left: 50px;
  margin-right: 50px;
}

.view-all {
  margin-right: 50px;
}

.product {
  background-color: lavender;
  width: 20%;
  float: left;
  margin: 10px;
}

.card-product-body {
  min-height: 100px;
  max-height: 100px;
}